<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Website</title>
  </head>
  <body>
    <!-- <h1>{{pageTitle}}</h1> -->
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <!--The sreamIt helper takes an argument welcomeMessage by leaving a space after the function and another space and 2nd argument,
    if you had more arguments -->

    {{> footer}}
  </body>
</html>
