<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Website</title>
  </head>
  <body>
    <h1>We''l be right back</h1>
    <!---Type p or any tag and tab to get the snipper e.g. body+Tab-->
    <p>
      The site is currenlty being updated
    </p>
  </body>
</html>
